.total {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 15px;
}

.totalText {
  font-weight: 600;
  font-size: 18px;
}

.totalBalance {
  display: flex;
}

.totalValue {
  font-weight: 500;
  color: #61a98b;
}
